auto-install-peers=true
strict-peer-dependencies=false
minimum-release-age=1440
block-exotic-deps=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
